.box {
  height: 100px;
  width: 300px;
  background-color: #646ffc;
  /*
  animation-name: fontAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 5;
  animation-direction: normal;

  animation-name: bgAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 10;
  animation-direction: normal;

  animation-name: boxSize;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 10;
  animation-direction: normal;
  */

  /*-----Shorthand-----*/
  animation: boxSize 2s ease-in 0s 10 normal;
  animation: bgAnimation 2s ease-in 0s 10 normal;
}

@keyframes fontAnimation {
  from {
    font-size: 20px;
  }

  to {
    font-size: 40px;
  }
}

@keyframes bgAnimation {
  from {
    background-color: white;
  }

  to {
    background-color: black;
  }
}

@keyframes boxSize {
  from {
    width: 10px;
  }

  to {
    width: 500px;
  }
}