.container {
  height: 400px;
  width: 600px;
  background-color: rgb(176, 243, 76);
  display: grid;
}

.item {
  height: 50px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  text-align: center;
}