/* h1 {
  color: orange;
  text-align: center;
  text-decoration: rgb(0, 195, 255) double underline;
  font-family: league spartan;
  font-size: 55px;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;

}

p {
  color: white;
  background-color: black;
}

button {
  background-color: blue;
  color: white;
} */

p {
  color: brown;
  line-height: 30px;
  text-align: center;


}

h1 {
  color: red;
  text-align: center;
  font-family: Georgia;
}

h3 {
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
}

button {
  color: blueviolet;
  background-color: white;
}

textarea {
  color: black;
}

span {
  text-decoration: underline;
}