.btnStyle {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.h1Style {
  color: purple;
  text-decoration: underline;
}

.pStyle {
  color: gray;
  font-style: italic;
}