/*----Universal Selector----*/
* {
  font-family: "Courier New", monospace;
}

/*------Element Selectors---------*/
h1,
h3 {
  color: #b92b27;
}

/*-------Id Selector------------*/
#login {
  color: white;
}

#signup {
  background-color: #b92b27;
  color: white;
}

/**------Class Selector---------*/
.upvote {
  background-color: green;
  color: white;
}