/*--------Percentage Units--------*/
h1 {
  border: 2px solid #030303;
  width: 50%;
}

#outer {
  height: 200px;
  width: 200px;
  background-color: #6cebc1;
  border: 2px solid #030303;
}

#inner {
  height: 50%;
  width: 50%;
  background-color: #f4a261;
  border: 2px solid #030303;
  margin: 10%;
}

/*--------Em Units--------*/
#outer2 {
  height: 400px;
  width: 400px;
  border: 2px solid #030303;
  background-color: #6cebc1;
  font-size: 16px;
}

#inner2 {
  height: 100px;
  width: 100px;
  background-color: #f4a261;
  border: 2px solid #030303;
  /* 2 times the font size of the parent */
  font-size: 2em;
  /* 1 times the font size of the parent */
  padding: 1em;
}

button {
  font-size: 50px;
  border: 2px solid #030303;
  background-color: #6cebc1;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}